bin/
obj/
out/

.vs/

*.user
*.suo
*.userosscache
*.sln.docstates

*.cache
*.tmp
*.temp
*.log

*.pdb
*.ilk
*.idb

TestResults/
*.coverage
*.coverage.xml

Thumbs.db
*.DS_Store
Desktop.ini

*.psess
*.vsp
*.vspx
*.sap

*~
*.bak
*.backup

*.pubxml.user

_UpgradeReport_Files/
Backup*/
UpgradeLog*.htm

*.pfx
*.snk
*.crt

.idea/
*.DotSettings.user
